* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
/* unvisited link */
a:link {
  color: rgb(236, 139, 151);
}

/* visited link */
a:visited {
  color: rgb(236, 139, 151);
}

/* mouse over link */
a:hover {
  color: rgb(93, 192, 152);
}

/* selected link */
a:active {
  color: rgb(220, 200, 195);
}

body {
  background: rgb(236, 139, 151);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}

nav {
  background-color: rgb(180, 235, 213);
  height: 100px;
  width: 100vw;
  display: flex;
  align-self: baseline;
  justify-content: space-around;
}

nav div {
  align-self: center;
}

nav a:hover {
  color: rgb(180, 235, 213);
  background-color: rgb(236, 139, 151);
}

input {
  margin: 10px;
}

button {
  transition: all 0.5s ease;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

button:hover {
  background-color: rgb(93, 192, 152);
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home img {
  display: flex;
  align-items: center;
  height: 50%;
  width: 50%;
}

.mainLogo {
  text-align: center;
}

.homeDog {
  background-color: rgb(180, 235, 213);
  margin: 5px;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.contactParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {
  display: flex;
  background-color: rgb(180, 235, 213);
  border-radius: 10px;
  border: 10px;
  width: 80%;
  justify-content: center;
}

.serviceList {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.service {
  border: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.divTable {
  display: table;
  width: 80%;
}
.divHead {
  background-color: #eee;
  display: table-header-group;
}

.divBody {
  display: table-row-group;
}

.divFormRow {
  display: table-row;
}

.divCell {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}

/* react-calendar */
